@charset "utf-8";

@use "../global" as *;

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  
  @include media(sm) {
    padding: 60px 30px;
  }
  @include media(md) {
    padding: 40px;
  }
  @include media(lg) {
    padding: 50px;
  }
}

header .title, header .subtitle {
  position: relative;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

header .title {
  font-weight: 500;
}

header .subtitle {
  font-weight: 300;
  margin-left: 17px;
}

header .subtitle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: - 11px;
  width: 5px;
  height: 1px;
  background-color: $white;
}
