@charset "utf-8";

@font-face {
  font-family: Aeonik;
  src: url(/assets/fonts/AeonikTRIAL-Medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Aeonik;
  src: url(/assets/fonts/AeonikTRIAL-Light.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
